.singleOverviewCard {
  background: linear-gradient(241.68deg, #1f2625 6.52%, #181a1b 97.75%);
  border-radius: 12px;
  @apply w-42v h-overview-card text-left pb-0 bg-opacity-30 desktop:h-fit-content desktop:pb-4;
  &_innerDiv {
    @apply px-10 pt-10 pb-3 desktop:pt-4 desktop:px-4 desktop:pb-0;
    &_title {
      @apply text-grayLabel text-caption-2 leading-caption-2 font-bold pb-2 desktop:text-caption-3;
    }
    &_value {
      @apply text-white text-heading-3 font-medium leading-heading-2 pb-0 desktop:text-caption-1;
    }
  }
  &_change {
    background: linear-gradient(241.68deg, #1f2625 6.52%, #181a1b 97.75%);

    border-radius: 13.7622px;
    @apply text-success-color-400 cursor-pointer w-fit-content px-3 flex flex-row py-1 ml-10 relative z-20 -bottom-3 font-semibold text-xs  leading-caption-2 desktop:ml-2;
  }
  &_divider {
    @apply border-b z-10;
    opacity: 0.4;
    border: 1px solid #2a383c;
  }
}

.connectWalletCard {
  background: linear-gradient(241.68deg, #1f2625 6.52%, #181a1b 97.75%);
  border-radius: 12px;
  @apply w-10/12 h-overview-card text-left bg-opacity-30 relative desktop:h-overview-card-1440 desktop:w-9/12;
  &_innerDiv {
    opacity: 1;
    @apply px-10 py-5 desktop:px-6 desktop:py-4;
    &_value {
      @apply text-white pr-10 text-paragraph-1 mt-2 leading-paragraph-1  font-medium  pb-4 desktop:mt-0 desktop:text-caption-1 desktop:pb-4;
    }
    &_button {
      background: linear-gradient(356.23deg, #96cf03 -65.8%, #f1fff6 89%);
      border-radius: 6.88108px;
      @apply rounded-xl justify-center items-center flex px-6 py-3 w-fit-content z-10 cursor-pointer;
      &_icon {
        @apply ml-2 w-5 text-black;
      }
      &_text {
        @apply text-dark-400 font-bold text-caption-3;
      }
    }
  }
  &_illustration {
    @apply absolute -bottom-12 h-28 w-28 -right-6;
  }
}

.extendedOverviewCard {
  @apply w-10/12 h-overview-card text-left pb-3 bg-opacity-30 desktop:w-9/12 desktop:h-overview-card-1440;
  background: linear-gradient(241.68deg, #1f2625 6.52%, #181a1b 97.75%);
  border-radius: 12px;
  &_innerDiv {
    @apply px-10 py-7 desktop:px-6 desktop:pt-4 desktop:pb-8;
    &_title {
      @apply text-grayLabel text-caption-3 leading-caption-3 font-bold pb-3 desktop:text-caption-3 desktop:pb-2;
    }
    &_value {
      @apply text-white text-heading-2 font-medium leading-heading-2 pb-2 desktop:text-paragraph-1 desktop:pb-0;
    }
    &_change {
      @apply text-success-color-400 font-medium text-caption-2 leading-caption-2 desktop:text-caption-3 desktop:pb-2;
    }
  }
  &_divider {
    @apply border-b;
    opacity: 0.4;

    border: 2px solid #2a383c;
  }
}

.tradedVolume {
  @apply w-full h-overview-card pb-5 bg-opacity-30 ;
  background: linear-gradient(241.68deg, #1f2625 6.52%, #181a1b 97.75%);
  border-radius: 12px;
  &_innerDiv {
    @apply mr-24 text-left;
    &_title {
      @apply text-tradeTitle text-caption-2 leading-caption-2 font-bold pb-1 desktop:text-caption-2;
    }
    &_value {
      @apply text-dark-150 text-2xl font-normal leading-subheading pb-2 desktop:text-paragraph-1 desktop:pb-0;
    }
    &_change {
      @apply text-success-color-400 font-normal text-caption-2 leading-caption-2;
    }
  }
  &_divider {
    @apply border-b;
    opacity: 0.4;
    border: 2px solid #2a383c;
    
  }
}
