.withdrawScreen {
  @apply w-85p tablet:w-full mx-auto mt-16 breakpoint:w-full desktop:w-full desktop:mt-8 desktop:pt-2 desktop:pl-24 breakpoint:pl-2;
  &_maincontainer {
    @apply flex mt-4 w-full desktop:mt-0 breakpoint:-mt-4;
  }
  &_leftcontainer {
    @apply tablet:mx-auto tablet:w-full tablet:pr-0 pr-40 breakpoint:w-62v breakpoint:pr-20 desktop:pr-40 desktop:-ml-8 desktop:w-77v desktop:-mt-4 breakpoint:-mt-2;
  }
  &_rightcontainer {
    @apply pl-4 desktop:w-30v desktop:pr-12 upper:pr-14 breakpoint:pl-6 breakpoint:pr-0 desktop:-ml-48;

    &_buyContainer {
      @apply border rounded-2xl flex flex-col border-dark-50;
      background: linear-gradient(0deg, #19201d 0%, #151618 101.42%),
        rgba(21, 21, 23, 0.2);
      &_header {
        @apply px-6 py-4 flex flex-row h-16 border-b rounded-t-2xl border-dark-50 w-full;
        background-color: #171c1f;
        &_title {
          @apply text-paragraph-1 text-primary-green-100 font-bold flex items-center desktop:text-paragraph-1 breakpoint:text-paragraph-2;
          &_icon {
            @apply h-5 w-5;
          }
          &_text {
            @apply ml-2;
          }
        }
      }
      &_body {
        @apply mt-4 px-6;
        &_payContainer {
          @apply flex flex-col w-full mb-4;
          &_title {
            @apply text-caption-2 text-grayLabel mt-5 font-black text-left;
          }

          &_inputContainer {
            @apply flex flex-row justify-between items-center border border-dark-50 rounded-xl mt-2 ring-2;
            &_lockWrapper {
              @apply flex justify-center w-full items-center px-4;
              &_icon {
                @apply h-5 w-5;
              }
            }
            &_input {
              @apply w-full h-14 bg-transparent rounded-lg py-2 text-primary-green-100 px-2;
              &:focus {
                @apply outline-none;
              }
            }
            &_balanceContainer {
              &_main {
                @apply flex flex-row justify-between text-left items-center px-4;
                &_text {
                  @apply text-caption-2 text-grayLabel font-bold;
                }
                &_max {
                  @apply text-caption-2 font-bold ml-2 cursor-pointer;
                  background: -webkit-linear-gradient(
                    355.38deg,
                    #3f7ef8 -9.64%,
                    #3ff8cc 87.34%
                  );
                  -webkit-background-clip: text;
                  background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
              }
              &_value {
                @apply text-left px-4 text-caption-2 text-grayLabel font-bold;
              }
            }
          }
        }
        &_tokenContainer {
          @apply flex flex-col w-full mb-4;
          &_title {
            @apply text-caption-2 text-grayLabel mt-5 font-black text-left;
          }

          &_inputContainer {
            @apply flex flex-row justify-between items-center border border-dark-50 rounded-xl mt-2 ring-2;
            &_lockWrapper {
              @apply flex justify-center items-center px-4;
              &_icon {
                @apply h-5 w-5;
              }
            }
            &_input {
              @apply w-full h-14 bg-transparent rounded-lg py-2 text-primary-green-100 px-2;
              &:focus {
                @apply outline-none;
              }
            }
            &_dateInput {
              &:focus {
                @apply outline-none;
              }
            }
            &_timeInput {
              @apply bg-dark-400 text-primary-green-100;
            }
            &_balanceContainer {
              &_main {
                @apply flex flex-row justify-between text-left items-center px-4;
                &_text {
                  @apply text-caption-2 text-grayLabel font-bold;
                }
                &_max {
                  @apply text-caption-2 font-bold ml-2 cursor-pointer;
                  background: -webkit-linear-gradient(
                    355.38deg,
                    #3f7ef8 -9.64%,
                    #3ff8cc 87.34%
                  );
                  -webkit-background-clip: text;
                  background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
              }
              &_value {
                @apply text-left px-4 text-caption-2 text-grayLabel font-bold;
              }
            }
          }
        }
        &_splitContainer {
          @apply flex gap-4;
        }
        &_separator {
          @apply w-full flex items-center;
          height: 100px;
          &_line {
            @apply bg-dark-50;
            height: 1px;
          }
          &_iconContainer {
            @apply flex justify-center items-center;
            &_icon {
              @apply h-10;
            }
          }
        }
        &_expiryDetailsContainer {
          @apply text-grayLabel text-caption-2 font-bold text-left py-4;
        }
        &_swapButton {
          background: linear-gradient(356.23deg, #96cf03 -65.8%, #f1fff6 89%);
          @apply rounded-lg py-3 my-4 flex justify-center items-center cursor-pointer;
          &_title {
            @apply text-paragraph-2 text-dark-300 font-bold;
          }
          &_icon {
            @apply pl-4;
            img {
              @apply w-6 h-6;
            }
          }
        }
      }
      &_footer {
        @apply h-5 border-t mt-8 border-dark-50;
      }
    }
  }
  &_header {
    @apply py-1 mb-3 flex justify-between content-start;
    &_titlecontainer {
      @apply flex flex-col items-start;
      &_title {
        @apply text-subheading font-medium text-white;
      }
      &_subtitle {
        @apply text-caption-1 phone:text-caption-3 tablet:text-caption-2 text-grayLabel font-semibold mb-5;
      }
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
